
@font-face {
    font-family: 'Chanthavong';
    src: url('Chanthavong.woff2') format('woff2'),
        url('Chanthavong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

